<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Turistguide - Tilføj attraktion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>
<div class="site-box" align="center" th:object="${attraction}">
    <br>
    <h1>Tilføj attraktion</h1>
    <br>

    <form th:action="@{save}" method="post">
        <table class="table table-bordered" style="width: 600px;" align="center">
            <tr>
                <th><label for="name">Navn:</label></th>
                <td><input type="text" id="name" th:field="*{name}"/></td>
            </tr>
            <tr>
                <th><label for="city">By:</label></th>
                <td><input type="text" id="city" th:field="*{city}"/></td>
            </tr>
            <tr>
                <th><label for="description">Beskrivelse:</label></th>
                <td><textarea id="description" th:field="*{description}"></textarea></td>
            </tr>
            <tr>
                <th><label for="tag">Tag:</label></th>
                <td>
                    <select id="tag" th:field="*{tag}" class="form-select">
                        <option th:each="tag : ${tags}" th:value="${tag}" th:text="${tag.getDisplayName()}"></option>
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-outline-primary">Gem attraktion</button>
    </form>
</div>
</body>
</html>