<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>rediger attraktion</title>
</head>
<body>

<h1>Rediger <span th:text="${attraction.name}"></span></h1>
<form th:action="@{/attractions/update}" th:object="${attraction}" method="post">
    <input type="hidden" th:field="*{name}" />

    <label for="description">Description:</label>
    <input type="text" id="description" th:field="*{description}" />
    <br/>
    <a th:href="@{/attractions/{name}/tags(name=${attraction.name})}">
        Tags
    </a>
    <br/>

    <button type="submit">update</button>
</form>

</body>
</html>